<%- include("partials/header.ejs") %>
    <div class="heading">
        <div class="box">
            <h1>
                Work
            </h1>
        </div>
    </div>
    <div class="box">
        <% dataWork.forEach(element=> {%>
            <div class="item">
                <input type="checkbox" class="check">
                <p>

                    <%=element.todoTaskWork%>
                </p>
            </div>

            <%})%>
                <form action="/work" method="POST">
                    <input type="text" name="todo" placeholder="newItem">
                    <button type="submit" class="but">+</button>
                </form>
    </div>

    <%- include("partials/footer.ejs") %>